<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock holder data</title>
</head>
<body>
    <header>Specification of this Project</header>
    <h1>Specification: </h1>
        <h3> project with the name “TradingProject”.</h3>
        <h3>Django app within the project “MainApp”.</h3>
        <h3>MainApp should have a view to accepting a CSV file and timeframe(will be a number). </h3>
        <h3>Store the CSV file on the Django server. You have to read a CSV file using the fastest option available.  
        Store the data present in the file in the python list of candle objects.</h3>
        <h3>The candle object will have attributes: [id, open, high, low, close, date]</h3>
        <h3>You have to convert the list of candles that will be one minute into a given timeframe. [Use async operations]
        Store this converted data into a JSON file and store it in the file system.</h3>
        <h3>In the response, the user should get the option to download the JSON file.</h3>
        
</body>
</html>